/* Normalize */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: cursive;
}

body{
    background: rgb(190,193,236);
    background: linear-gradient(38deg, rgba(190,193,236,1) 0%, rgba(195,113,193,1) 50%, rgba(236,195,235,1) 95%);
}
.cards-container{

    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    padding: 5%;
}
.card{
    background-color: brown;

    display: flex;
    flex-direction: column-reverse;
}

.card__article{
    display: flex;
}

.card__image-container{
    background-color: rgb(255, 255, 255);
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
}
.card__content{

    width: 50%;
}
.card__link{

    text-align: center;
}
.card__image{
    width: 100%;
}
.card__favourite{
    width:  30px;
    align-self: flex-end;
    margin-right: 10px;
}
.main-header__input-search{
    padding-left: 10px;
}
@media (min-width:450px){
    .cards-container{
        gap: 60px;
        padding: 0;
        justify-content: center;
    }
    .card{
        width: 300px;
        border-radius: 10px;
        box-shadow:  22px 22px 44px #9f9f9f,
             -22px -22px 44px #ffffff;
    }
    .card__article{
        flex-direction: column;
    }
    .card__content{
        width: 100%;
    }
    .card__image-container{
        width: 100%;
    }
}
